@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Manrope";
  src: local("Manrope"), url("./fonts/Manrope-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "JetBrains Mono";
  src: local("JetBrains Mono"),
    url("./fonts/JetBrainsMono-Regular.ttf") format("truetype");
}

*::-webkit-scrollbar {
  @apply w-2 h-2;
}

*::-webkit-scrollbar-track {
  @apply bg-transparent;
}

*::-webkit-scrollbar-thumb {
  @apply bg-gray-700 rounded-full;
}
